.contentsection{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
}

.bigImage{
    justify-self: center;
    height: 150px;
    width: 150px;
}

.imageclass{
    height: 100%;
    width: 100%;
    object-fit: contain;
}