.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height:100%;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.cardtext {
    flex: 1;
    font-size: smaller;
}

.cardimg{
    display: flex;
    max-height: 9rem;
    max-width: 8rem;
    overflow: hidden;
    justify-content: end;
    padding: 0px;
}

.image{
    height: 9rem;
    width: auto;
    object-fit: contain;
}

/* somehow change this so the image ends up 9x8 rem and crops along the dimension thats too big*/
