.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.cardtext{
    flex: 1;
}

.cardimg{
    flex: 1;
    height: 100%;
}