.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height:100%;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.cardtext {
    flex: 1;
}

.cardimg{
    display: flex;
    height: 9rem;
    width: 8rem;
    overflow: hidden;
    justify-content: end;
}

.image{
    height: 9rem;
    width: auto;
    object-fit: contain;
}

/* height being hardcoded isnt ideal */
